[Unit]
Description=Runs KarmaBot for r/Fallout76Marketplace
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/Programming/Bots/Fallout76MarketplaceKarmaBot
ExecStart=%h/Programming/Bots/Fallout76MarketplaceKarmaBot/main.py
Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target