[Unit]
Description=Runs KarmaBot for r/Fallout76Marketplace
After=default.target
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'

[Service]
Type=simple
WorkingDirectory=%h/Bots/Fallout76MarketplaceKarmaBot
ExecStart=%h/Bots/Fallout76MarketplaceKarmaBot/main.py
Restart=always
RestartSec=15s

[Install]
WantedBy=default.target
